AWSTemplateFormatVersion: '2010-09-09'
Description: Asset Resources

Resources: 
  AssetsBucket:
    Type: AWS::S3::Bucket
    Properties:
      AccessControl: 'Private'
  StaticBucket:
    Type: AWS::S3::Bucket
    Properties:
      AccessControl: 'Private'
Outputs:
  AssetsBucket:
    Value: !Ref 'AssetsBucket'
    Export:
      Name: 'Assets-AssetsBucket'