AWSTemplateFormatVersion: '2010-09-09'
Description: ECS Cluster

Resources:
  # ECS Cluster
  ECSCluster:
    Type: AWS::ECS::Cluster
    Properties:
      ClusterName: 'video-streaming'
      ClusterSettings:
        - Name: containerInsights
          Value: enabled

Outputs:
  ECSCluster:
    Value: !Ref 'ECSCluster'
    Export:
      Name: 'ECS-ECSCluster'